[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
  "dotnet restore",
  "dotnet publish --no-restore -c Release -o out"
]

[start]
cmd = "ASPNETCORE_URLS=http://0.0.0.0:$PORT ./out/ILearn"